body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.link{
  width:110px;
  align-items:center;
  display:flex;
}

.search_link{
  cursor: pointer;
  color:black;
}

.search_link:hover{
  background-color: lightgray;
}

.sidebar-links{
  text-decoration: none !important;
  border-color: white;

}